<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap" style="padding-bottom: 30px;">
        <img id="profile-img" src="<%= get_current_user_img(current_user.id) %>" class="online" alt="" />
        <p><%= current_user.email %></p>
        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
        <div id="status-options">
          <ul>
            <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
            <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
            <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
            <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
          </ul>
        </div>
        <div id="expanded">
          <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mikeross" />
          <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="ross81" />
          <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
          <input name="twitter" type="text" value="mike.ross" /><br>
          <%= link_to "Log out", "/logout", method: :delete, style: "color: #fff; border: 1px solid #fff; padding: 3px 5px; text-decoration: none;" %>
        </div>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
      <ul>
        <%= render @conversations %>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status away"></span>
            <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
            <div class="meta">
              <p class="name">Rachel Zane</p>
              <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status online"></span>
            <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
            <div class="meta">
              <p class="name">Donna Paulsen</p>
              <p class="preview">Mike, I know everything! I'm Donna..</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
            <div class="meta">
              <p class="name">Jessica Pearson</p>
              <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status"></span>
            <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
            <div class="meta">
              <p class="name">Harold Gunderson</p>
              <p class="preview">Thanks Mike! :)</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status"></span>
            <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
            <div class="meta">
              <p class="name">Daniel Hardman</p>
              <p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
            <div class="meta">
              <p class="name">Katrina Bennett</p>
              <p class="preview">I've sent you the files for the Garrett trial.</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status"></span>
            <img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
            <div class="meta">
              <p class="name">Charles Forstman</p>
              <p class="preview">Mike, this isn't over.</p>
            </div>
          </div>
        </li>
        <li class="contact">
          <div class="wrap">
            <span class="contact-status"></span>
            <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
            <div class="meta">
              <p class="name">Jonathan Sidwell</p>
              <p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="bottom-bar">
      <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
      <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      <img src="<%= get_current_user_img(@first_conversation.friend(current_user).id) %>" alt="" />
      <p><%= @first_conversation.friend(current_user).email %></p>
      <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
         <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
    <div class="messages">
      <ul>
        <%= render partial: "conversations/message", collection: @messages %>
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <%= hidden_field_tag :sender_id, current_user.id %>
        <%= form_with model: @message do |f| %>
          <%= f.text_field :content, placeholder: "Write your message...", id: "message", remote: true, autocomplete: "off" %>
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <%= f.hidden_field :receiver_id, value: @first_conversation.friend(current_user).id %>
          <%= f.hidden_field :conversation_id, value: @first_conversation.id %>
          <%= f.button :submit, class: "submit" do %>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= action_cable_meta_tag %>
