<!DOCTYPE html>
<html>
  <head>
    <title>RealtimeChatActionCable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  </head>
  <body>
    <%= yield %>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script >$(".messages").animate({ scrollTop: $(document).height() }, "fast");

    $("#profile-img").click(function() {
      $("#status-options").toggleClass("active");
    });

    $(".expand-button").click(function() {
      $("#profile").toggleClass("expanded");
      $("#contacts").toggleClass("expanded");
    });

    $("#status-options ul li").click(function() {
      $("#profile-img").removeClass();
      $("#status-online").removeClass("active");
      $("#status-away").removeClass("active");
      $("#status-busy").removeClass("active");
      $("#status-offline").removeClass("active");
      $(this).addClass("active");

      if($("#status-online").hasClass("active")) {
        $("#profile-img").addClass("online");
      } else if ($("#status-away").hasClass("active")) {
        $("#profile-img").addClass("away");
      } else if ($("#status-busy").hasClass("active")) {
        $("#profile-img").addClass("busy");
      } else if ($("#status-offline").hasClass("active")) {
        $("#profile-img").addClass("offline");
      } else {
        $("#profile-img").removeClass();
      };

      $("#status-options").removeClass("active");
    });

    function getImg(user_id) {
      return user_id == "1" ? "http://emilcarlsson.se/assets/mikeross.png" : "http://emilcarlsson.se/assets/louislitt.png"
    }

    function newMessage() {
      sender_id = $("#sender_id").val();
      $('<li class="sent"><img src="'+ getImg(sender_id) +'" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
      // $('.message-input input#message').val(null);
      $('.contact.active .preview').html('<span>You: </span>' + message);
      // $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    };

    $('.submit').click(function(e) {
      message = $(".message-input input#message").val();
      if($.trim(message) == '') {
        e.preventDefault();
        return false;
      } else {
        newMessage(message);
      }
    });

    $(window).on('keydown', function(e) {
      if (e.which == 13) {
        $('.submit').click();
        return false;
      }
    });
    </script>
  </body>
</html>
